@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500&display=swap");
/* ********************************************** */
/* Resets */
/* ********************************************** */
* {
  margin: 0;
  box-sizing: border-box;
}
/* ********************************************** */
/* Globals */
/* ********************************************** */
:root {
  --clr-soft-blue: hsl(215, 51%, 70%);
  --clr-cyan: hsl(178, 100%, 50%);
  --clr-body-background: hsl(217, 54%, 11%);
  --clr-card-background: hsl(216, 50%, 16%);
  --clr-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
}
/* *********************************************** */
/* Styles */
/* *********************************************** */

/* body */
body {
  font-size: 18px;
  /* background-color: var(--clr-body-background); */
  color: var(--clr-soft-blue);
  font-family: "Outfit", sans-serif;
  line-height: 1.5;
  font-weight: 300;
}
/* page wrapper */
.wrapper {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* card area */
.card {
  width: 23%;
  padding: 1.25em;
  padding-bottom: 0.9em;
  max-width: 350px;
  min-width: 310px;
  background: var(--clr-card-background);
  background: red;
  border-radius: 14px;
}
.card_image {
  position: relative;
}
.card_image .NFT_image {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  display: block;
}

.hover-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* bottom: -100%; */
  opacity: 0;
  display: flex;
  background: hsla(178, 100%, 50%, 0.5);
  justify-content: center;
  border-radius: 6px;
  align-items: center;
  transition: 0.3s;
}
.hover-container:hover {
  opacity: 1;
  cursor: pointer;
}
.card_Heading {
  color: var(--clr-white);
  font-weight: 400;
  font-size: 1.4rem;
  transition: 0.3s;
  margin: 1.1rem 0;
}
.card_Heading:hover {
  cursor: pointer;
  color: var(--clr-cyan);
}

.card_description {
  font-size: 1.15rem;
  color: var(--clr-soft-blue);
  margin: 1rem 0;
}
.card_infotab {
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  margin: 1rem 0;

  justify-content: space-between;
}
.info_text {
  display: flex;
  align-items: center;
  gap: 5px;
}
.NTF {
  color: var(--clr-cyan);
}
.divider {
  height: 1px;
  background: var(--clr-line);
  margin: 1.5rem 0;
  margin-bottom: 1rem;
}
.card-userInfo {
  display: flex;
  align-items: center;
  gap: 14px;
  font-size: 1.05rem;
  margin: 1rem 0;
}
.avatar {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  border: 1px solid var(--clr-white);
}
.avatar img {
  width: 100%;
  height: auto;
}
.link {
  color: var(--clr-white);
  transition: 0.3s;
}
.link:hover {
  cursor: pointer;
  color: var(--clr-cyan);
}
.attribution {
  position: absolute;
  color: var(--clr-white);
  font-size: 0.8rem;
  left: 0;
  right: 0;
  text-align: center;
  bottom: 1rem;
}
